<suite name="TestAllOperations">

    <test name="AddOperation">
        <classes>
            <class name="operation.AddOperationTest" />
        </classes>
    </test>

    <test name="DivOperation">
        <classes>
            <class name="operation.DivOperationTest" />
        </classes>
    </test>
    <test name="MultOperation">
        <classes>
            <class name="operation.MultOperationTest" />
        </classes>
    </test>
    <test name="SqrOperation">
        <classes>
            <class name="operation.SqrOperationTest" />
        </classes>
    </test>
    <test name="SubOperation">
        <classes>
            <class name="operation.SubOperationTest" />
        </classes>
    </test>
</suite>